<%- include("partials/header.ejs") %>
<%- include("partials/return.ejs") %>

<div class="headDiv">
  <img src="enigmaGermans.jpg">
  <h2 class="bodyHeader enigma">ENIGMA</h2>
</div>
<% if (enabled){ %>
<div class="enigmaDiv">

  <h2>Basics</h2>

  <div>
    <div class="biography">
      <img src="enigmaExample1.jpg" class="enigmaProfile">
      <div class="factsR enigmaProfile">
        <p>Germany used this typewriter-looking device to encrypt military messages. There were a few variations used by the German military, but, for the sake of simplicity, this page focuses on the version used by the German army and airforce.</p>
        <ul>
          <li>Originally designed shortly after WWI</li>
          <li>Not seriously used until early 1930s by Germany</li>
          <li>Thought, by Germans, to be uncrackable</li>
        </ul>
      </div>
    </div>
  </div>

  <h2>Arthur Scherbius - Author of ENIGMA</h2>

  <div class="biography">
    <img src="arthurScherbius.jpg" class="enigmaProfile">
    <div class="factsL enigmaProfile">
      <p>Arthur Scherbius designed the Enigma in 1918. This device was seen as the cutting edge of cryptographic technology at that time. It was meant for both military and civil use.</p>
      <ul>
        <li>German Electrical Engineer</li>
        <li>One of many engineers who were making rotor-based cryptographic machines</li>
        <li>Determined to sell to the German market</li>
        <li>He died before in 1929, before he witnessed his machine used by the Nazis</li>
      </ul>
    </div>
  </div>

  <div>
    <hr>
    <h2 class="bodyHeader enigma">Rotors</h2>
    <div class="biography">
      <img src="enigmaRotors.jpg" class="enigmaProfile">
      <div class="factsL enigmaProfile">
        <p>The rotors were used like a more complicated Caesar Cipher. They shifted the character inputed a certain number of times. In the case of the Enigma, the number of times a letter is shifted changes every keystroke.</p>
        <ul>
          <li>Rotors increased every keystroke (see example below to get a better idea of how thise is done)</li>
          <li>They increase like old car odometers</li>
          <li>For the German Army and Airforce, one Enigma Machine would use three out of five possible rotors</li>
          <li>Each of the five rotors would mix the matched values they had to make them unique</li>
        </ul>
      </div>
    </div>
    <%- include("partials/rotors.ejs") %>
  </div>

  <div>
    <hr>
    <h2 class="bodyHeader enigma">Plugboards</h2>
    <div class="biography">
      <img src="enigmaPlugboard.jpg" class="enigmaProfile">
      <div class="factsR enigmaProfile">
        <p>Plugboards simply routed characters to different characters before and after the character goes through the rotors of the Enigma.</p>
        <ul>
          <li>a -> b; b -> a</li>
          <li>The plugboard operation would run twice through the Enigma</li>
          <li>Once right after a key is pressed, then a second time right before the character reaches the lampboard</li>
          <li>10 possible pairs of characters could be mached leaving 6 letters on the alphabet not affected by the plugboard</li>
          <li>The machine didn't need to have any pairs made to work, which complicated things</li>
        </ul>
      </div>
    </div>
  </div>

  <div>
    <hr>
    <h2 class="bodyHeader enigma">Overview</h2>
    <div class="biography">
      <img src="enigmaDiagram.jpg" class="enigmaProfile">
      <div class="factsR enigmaProfile">
        <ul>
          <li style="text-decoration: underline;">The letter shifted would never be the same as the inputed letter</li>
          <li>Rotors used to shift the letter inputed</li>
          <li>Lamp Board Displayed the output of the machine</li>
          <li>Keyboard provided input from a user</li>
          <li>Plugboard paired characters to be switched</li>
          <li>158,962,555,217,826,360,000 possible ways to set the Enigma machine</li>
        </ul>
        <table>
          <tr>
            <td>Step 1</td>
            <td>Step 2</td>
            <td>Step 3</td>
            <td>Step 4</td>
            <td>Step 5</td>
          </tr>
          <tr>
            <td style="color: #bf4d92;">Keyboard</td>
            <td style="color: #19b552;">Plugboard</td>
            <td style="color: #d8a846;">Rotors</td>
            <td style="color: #19b552;">Plugboard</td>
            <td style="color: #4d9ec1;">Lampboard</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div>
    <hr id="typeWriterLocation">
    <%- include("partials/typeWriter.ejs") %>
    <input class="codeIO" placeholder="Input" name="decryptedCode">
    <br>
    <input readonly class="codeIO" placeholder="Output">
    <hr>
  </div>
</div>
<script type="text/javascript" src="rotors.js"></script>
<script type="text/javascript" src="typeWriter.js"></script>
<% } %>
<%- include("partials/footer.ejs") %>
